@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

/* Cette feuille de style concerne le composant 'Owner'. */

.host {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3px;
    align-items: flex-start;
    gap: 10px;
    div {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 64px;
        @include responsive(mobile) {
            height: 32px;
        }
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;

        @include responsive(mobile) {
            width: 32px;
            height: 32px;
        }
    }
    p {
        @include font-style(18px);
        @include color(main);
        text-align: right;
        margin: 0;

        @include responsive(mobile) {
            @include font-style(12px);
        }
    }
}