@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

/* Cette feuille de style concerne le composant 'Slider'. */

.slider {
    position: relative;
    width: 100%;
    height: 415px;

    @include responsive(mobile) {
        height: 255px;
    }
    
    &-img {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 25px;
        object-fit: cover;
        background-position: center;
        z-index: 1;

        @include responsive(mobile) {
            border-radius: 10px;
        }
    }
    &-div {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 25px;
        @include background-color(fourth);
        z-index: 2;
        opacity: 0.3;

        @include responsive(mobile) {
            border-radius: 10px;
        }
    }

    &-arrow-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        z-index: 3;

        @include responsive(mobile) {
            padding: 0;
        }

        img {
            @include responsive(mobile) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &-number {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        @include font-style(18px);
        @include color(second);
        z-index: 3;

        @include responsive(mobile) {
            display: none;
        }
    }
}