@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

/* Cette feuille de style concerne le contenu général de la page d'acceuil. */
.home-section {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    @include responsive(mobile) {
        padding: 27px 20px;
        gap: 22px;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: white;
        @include font-style(48px);
        font-style: normal;

        @include responsive(mobile) {
            @include font-style(24px);
            margin-left: 16px;
            text-wrap: balance;
        }
    }
}