@import '../../utils/styles/mixins';

/* Cette feuille de style concerne le contenu général de la page d'acceuil. */
.home-section {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    .background {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: white;
        @include font-style(48px);
        font-style: normal;
    }
}