@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

/* Cette feuille de style concerne le composant 'Gallery'. */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 56px 50px;
    gap: 60px 50px;
    border-radius: 25px;
    @include background-color(third);

    @include responsive(mobile) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include background-color(second);
        padding: 0;
    }
}