@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

/* Cette feuille de style concerne le style du composant 'Footer'. */
footer {
    background-color: black;
    @include color(second);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 29px;
    gap: 29px;
    p {
        @include font-style(24px);
        margin-bottom: 0;
    }
}