@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

/* Cette feuille de style concerne le style du composant 'Footer'. */
footer {
    background-color: black;
    @include color(second);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 29px;
    gap: 29px;
    @include responsive(mobile) {
        padding-bottom: 58px;
        gap: 10px;
    }
    p {
        @include font-style(24px);
        margin-bottom: 0;


        @include responsive(mobile) {
            @include font-style(12px);
            margin-top: 0;
            width: 133px;
            text-wrap: balance;
            text-align: center;
        }
    }
}